{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-xl navbar-inverse fixed-top" >
  <div class="container navbar-container">
      <div class="navbar-brand">
          <a href="{% url 'home' %}">JustBooking</a>
          <ul style="margin-right:50px;" class="navbar-nav ml-auto">


           
              {% if user.is_authenticated %}
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Schedule
                            <span class="caret"></span>
                        </a>
                  <ul class="dropdown-menu" role="menu">
              <li class="nav-item">
                <img src="{{company_logo.url}}" alt="company logo" style=" border-radius:50%; height: 40px; width: 40px">
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'submit_schedule' %}" style="color:rgb(17, 16, 16);"><strong>New schedule</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:rgb(17, 16, 16);"><strong>Logout</strong></a>
              </li>
              </ul>
              {% else %}
              <li>
                <a class="nav-link" href="/accounts/login/" style="color:white;">Login</a>
              </li>
              
              {% endif %}
      
           
            
      </div>
  </div>
</nav>
    
    
    <h2 class="text-center">Schedules</h2>
    
    
    
    <table class="text-center" style="font-family: arial, sans-serif; border-collapse: collapse;width: 50%;">
      <tr style="background-color: #dddddd;">
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Company</th>
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Source</th>
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Destination</th>
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Price</th>
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Date</th>
        <th style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">Time</th>
      </tr>
      {% for item in schedules %}
      <tr>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">{{item.name}}</td>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;">{{item.departure_location}}</td>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;" >{{item.destination_location}}</td>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;" >{{item.price}}</td>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;" > {{item.date}}</td>
        <td style="border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;" > {{item.departure_time}}</td>
      </tr>
      {% endfor %}
    </table>
    
    
    
    {% endblock %}
